ONLY_BOOLEAN=true
ONLY_NUMBER=1

REQUIRED_VAR=some_value

EMAIL_USER=user@example.com
EMAIL_PASS=securepassword

PUBLIC_HELLO=world

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

BETTER_AUTH_SECRET=CHANGE_ME_TO_SOMETHING_SECRET_AND_RANDOM

DATABASE_URL=postgresql://modernpunk:password@localhost:5432/app
