.git
.github
.turbo
.vscode
.husky
.pnpm-store
node_modules
**/node_modules
**/.next
**/dist
**/.turbo
coverage
**/coverage
*.log
.env*
**/.env*
!.env.docker.example
**/*.spec.ts
**/*.test.*
README*
**/README*
CHANGELOG.md
